.radioCustom {
  opacity: 0;
  position: absolute;
}

.radioCustom, .radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
}

.radioCustom + .radioCustomLabel:before {
  content: '';
  background: var(--white);
  border: 1px solid #D1D1D1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 10px;
  text-align: center;
  box-shadow: 0px 1px 3px #00000029
}

.radioCustom + .radioCustomLabel:before {
  border-radius: 50%;
}

.radioCustom:checked + .radioCustomLabel:before {
  content: "✔";
  color: var(--white);
  background: var(--accent);
  border: 1px solid var(--accent);
  box-shadow: 0px 1px 3px #2F54D085;
}

