.customFileInput {
  border-radius: 0.5rem;
  text-align: center;
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  background: var(--white);
  color: var(--accent);
  cursor: pointer;
  border: 1px solid var(--border-gray);
}
