.playerStatus {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 22.063rem;
  width: 100%;
}

.playerStatusFooter {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
}
.playerStatusFooter button:first-of-type {
  margin-right: 1rem;
}
