.wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22.063rem;
}

.footer {
  align-self: flex-end;
}

.content h2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.313rem;
  margin-bottom: 1.375rem;
}

.inputWrapper p {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
}
