.wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22.063rem;
}

.footer {
  align-self: flex-end;
}

.inputWrapper p {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
}
